- add_page_specific_style 'page_bundles/admin/application_settings_metrics_and_profiling'

- breadcrumb_title _("Metrics and profiling")
- page_title _("Metrics and profiling")
- @content_class = "limit-container-width" unless fluid_layout

%section.settings.as-prometheus.no-animate#js-prometheus-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Metrics - Prometheus')
    %button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Monitor the health and performance of GitLab with Prometheus.')
  .settings-content
    = render 'prometheus'

%section.settings.as-grafana.no-animate#js-grafana-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Metrics - Grafana')
    %button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Link to your Grafana instance.')
      = link_to s_('Learn more.'), help_page_path('administration/monitoring/performance/grafana_configuration.md'), target: '_blank', rel: 'noopener noreferrer'

  .settings-content
    = render 'grafana'

%section.settings.as-performance-bar.no-animate#js-performance-bar-settings{ class: ('expanded' if expanded_by_default?), data: { qa_selector: 'performance_bar_settings_content' } }
  .settings-header
    %h4
      = _('Profiling - Performance bar')
    %button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Enable access to the performance bar for non-administrators in a given group.')
      = link_to s_('Learn more.'), help_page_path('administration/monitoring/performance/performance_bar.md', anchor: 'enable-the-performance-bar-for-non-administrators'), target: '_blank', rel: 'noopener noreferrer'
  .settings-content
    = render 'performance_bar'

.js-self-monitoring-settings{ data: self_monitoring_project_data }

%section.settings.as-usage.no-animate#js-usage-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header#usage-statistics
    %h4
      = _('Usage statistics')
    %button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Enable or disable version check and Service Ping.')
  .settings-content
    = render 'usage'

= render_if_exists 'admin/application_settings/pseudonymizer_settings', expanded: expanded_by_default?

- if Feature.enabled?(:configure_sentry_in_application_settings, default_enabled: :yaml)
  %section.settings.as-sentry.no-animate#js-sentry-settings{ class: ('expanded' if expanded_by_default?), data: { qa_selector: 'sentry_settings_content' } }
    .settings-header
      %h4
        = _('Sentry')
      %button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
        = expanded_by_default? ? _('Collapse') : _('Expand')
      %p
        = _('Configure Sentry integration for error tracking')
    .settings-content
      = render 'sentry'
